/****GENERELLE INDSTILLINGER****/

body {
    margin: 0 auto;
}

section,
footer {
    margin: 0;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

@font-face {
    font-family: 'impact';
    src: url('fonts/impact.woff2') format('woff2'),
        url('fonts/impact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'impact';
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-family: 'impact';
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
}

h3 {
    font-family: 'impact';
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
}

p {
    font-family: 'Safety', sans-serif;
    font-weight: 200;
    font-size: 1rem;
}


/****GENERELLE INDSTILLINGER SLUT****/


/****MENU****/

header {
    position: fixed;
    width: 100%;
    background-color: #28292c;

}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header nav h3:hover {
    cursor: pointer;
}

#logo1 img {
    display: block;
    position: absolute;
    width: 15rem;
    left: 1%;
    top: -25px;
    margin: 0;
}

@media only screen and (min-width:1095px) {
    header nav {
        flex-direction: row;
        justify-content: flex-end;
        margin: 1rem;
    }

    header nav h3 {
        margin: 0.5rem 0.5rem;
        padding: 0 1.1rem 0 0;
    }

}


/****MENU SLUT****/


/****BAGGRUNDSVIDEO****/

#baggrundsvideo {
    background-image: url(img/1.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: 70% 0%;
}

/****BAGGRUNDSVIDEO SLUT****/

/****KAMPAGNE 1****/

#kampagne1 .sectionwrapper {
    background-color: #28292c;
    margin-top: -10px;
}

#kampagne1 .col {
    text-align: center;
    line-height: 1.2;
}

#kampagne1 h2 {
    color: white;
}

/****KAMPAGNE 1 SLUT****/

/****KAMPAGNEVIDEO****/

#kampagnevideo {
    background-color: #383d45;
}

/****KAMPAGNEVIDEO SLUT****/

/****KAMPAGNE 2****/

#kampagne2 {
    background-color: #28292c;
}

#kampagne2 h1 {
    color: white;
}

#kampagne2 .tekst2 {}


/****KAMPAGNE 2 SLUT****/

/****TEST****/

#test {
    background-color: #eaeaea;
    text-align: center;
}

#test h1 {
    color: #383d45;
}

#test .test {
    background-image: url(img/test_mobil.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/****TEST SLUT****/

/****KAMPAGNE 3****/

#kampagne3 {
    background-color: #28292c;
}

#kampagne3 h1 {
    color: white;
    text-align: center;
}


#kampagne3 h2 {
    color: white;
}

#kampagne3 p {
    color: white;
}

#kampagne3 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#kampagne3 .tekst {
    flex-grow: 1;
    flex-basis: 300px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#kampagne3 .billede {
    flex-grow: 1;
    flex-basis: 300px;
    margin-left: 1rem;
    margin-right: 1rem;
}

/****KAMPAGNE 3 SLUT****/

/****KAMPAGNE 4****/

#kampagne4 {
    background-color: #eaeaea;
}

#kampagne4 h1 {
    color: #383d45;
    text-align: center;
}

/****KAMPAGNE 4 SLUT****/

/****KAMPAGNE 5****/

#kampagne5 {
    background-color: #383d45;
}

#kampagne5 p {
    color: white;
}

#kampagne5 h2 {
    color: white;
}

#kampagne5 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#kampagne5 .tekst {
    flex-grow: 1;
    flex-basis: 300px;
    margin-left: 3rem;
    margin-right: 3rem;
}

#kampagne5 .billede {
    flex-grow: 1;
    flex-basis: 300px;
    margin-left: 3rem;
    margin-right: 3rem;
}

/****KAMPAGNE 5 SLUT****/

/****KAMPAGNE 6****/

#kampagne6 {
    background-color: #28292c;
}

#kampagne6 h1,
p {
    color: white;
}

#kampagne6 b {
    color: red;
}

#kampagne6 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#kampagne6 .tekst {
    flex-grow: 1;
    flex-basis: 300px;
    margin-left: 3rem;
    margin-right: 3rem;
}

#kampagne6 .billede {
    flex-grow: 1;
    flex-basis: 300px;
    margin-left: 3rem;
    margin-right: 3rem;
}

/****KAMPAGNE 6 SLUT****/

/****KAMPAGNE 7****/

#kampagne7 {
    background-color: #eaeaea;
}

#kampagne7 h1 {
    color: #383d45;
    text-align: center;
}

/****KAMPAGNE 7 SLUT****/

/****KAMPAGNE 8****/

#kampagne8 {
    background-color: #383d45;
}

#kampagne8 h1,
p {
    color: white;
}

#kampagne8 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#kampagne8 .tekst {
    flex-grow: 1;
    flex-basis: 300px;
    margin-left: 3rem;
    margin-right: 3rem;
}

#kampagne8 .billede {
    flex-grow: 1;
    flex-basis: 300px;
    margin-left: 3rem;
    margin-right: 3rem;
}

/****KAMPAGNE 8 SLUT****/

/****FOOTER****/

footer {
    font-family: 'impact';
    font-size: ;
    background-color: #28292c;
    color: white;
    width: 100%;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    position: relative;
    left: 0;
    bottom: 0;
    line-height: 1.5;
}

/****FOOTER SLUT****/

@media only screen and (min-width:900px) {
    #test .test {
        background-image: url(img/test_fuld.png);
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }

}
