/****GENERELLE INDSTILLINGER****/

body {
    margin: 0 auto;
    background-color: #28292c;
    max-width: 1500px;
}

section,
footer {
    margin: 0;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

@font-face {
    font-family: 'impact';
    src: url('fonts/impact.woff2') format('woff2'),
        url('fonts/impact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Safety';
    src: url('fonts/Safety.woff2') format('woff2'),
        url('fonts/Safety.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


h1 {
    font-family: 'impact';
    font-weight: 600;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: 'impact';
    font-weight: 400;
    font-size: 1.7rem;
    margin: 0;
    text-align: center;
}

h3 {
    font-family: 'impact';
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
}

p {
    font-family: 'Safety', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    margin: 0;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.tekst {
    flex-grow: 1;
    flex-basis: 200px;
    margin-left: 2.5rem;
    margin-right: 2.3rem;
    line-height: 1.4;
    margin-top: 1rem;
}

.billede {
    flex-grow: 1;
    flex-basis: 200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 1.2rem;
}

/****GENERELLE INDSTILLINGER SLUT****/


/****MENU****/



header {
    position: fixed;
    width: 100%;
    background-color: #28292c;
    height: 110px;
    z-index: 5;
}

.hidden {
    transform: translateX(100%)
}

#menuknap {
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    right: 30px;
    top: 30px;
    font-family: 'Safety';
    padding: 10px;
    line-height: 1;
    color: white;
}

#menu {
    padding: 0;
    list-style-type: none;
    transition: all .3s;
    position: absolute;
    right: 0;
    top: 110px;
    margin: 0;
}


header li {
    width: 100vw;
    background-color: rgba(56, 61, 69, 0.97);
    text-align: right;
    margin: 0;
    text-decoration: none;
    padding: 10px 20px;
    line-height: 2;
    cursor: pointer;
    font-family: 'Safety';
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
}

header li a {
    text-decoration: none;
    color: white;
    font-family: 'Safety';
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
}

header li a:hover {
    color: #383d45;
    background-color: white;
    transition: 0.5s;
}

.selected {
    color: #AA0009;
}

#logo1 img {
    display: block;
    position: absolute;
    width: 15rem;
    left: 1%;
    margin: 0;
}

@media only screen and (min-width: 1095px) {
    header {
        position: fixed;

    }

    header li {
        padding: 0;
        margin: 0 10px;
        font-size: 1.5rem;
        background-color: #28292c;
    }

    header li a {
        padding: 0;
        margin: 0 10px;
        font-size: 1.5rem;
        background-color: #28292c;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline;
    }

    #menu {
        top: 35%;

    }
}

/****MENU SLUT****/


/****BAGGRUNDSVIDEO****/

.top_box {
    height: 110px;
}

#baggrunds_video {
    width: 100%;
    height: auto;
}


/****BAGGRUNDSVIDEO SLUT****/

/****KAMPAGNE 1****/

#kampagne1 .sectionwrapper {
    background-color: #28292c;
}

#kampagne1 .col {
    line-height: 1.3;
    margin: 1rem;
}

#kampagne1 h2 {
    color: white;
    font-size: 1.4rem;
}

/****KAMPAGNE 1 SLUT****/

/****KAMPAGNEVIDEO****/

#kampagnevideo {
    background-color: #383d45;
}

#kampagnevideo video {
    width: 100%;
}

#kampagnevideo .video {
    margin: 1.5rem;

}

/****KAMPAGNEVIDEO SLUT****/

/****KAMPAGNE 2****/

#kampagne2 {
    background-color: #28292c;
    line-height: 1.3;
    margin-left: 1.5rem;
    margin-right: 0.98rem;
    margin-bottom: 1.5rem;
}

#kampagne2 .tekst1 {
    margin-left: -3rem;
}

#kampagne2 .tekst2 {
    margin-left: 4rem;
}

#kampagne2 h1 {
    color: white;
}



/****KAMPAGNE 2 SLUT****/

/****TEST****/

#test {
    background-color: #eaeaea;
    text-align: center;
}

#test h1 {
    color: #383d45;
}

#test .test {
    margin: auto;
    background-image: url(img/test_mobil.png);
    background-size: contain;
    width: 372px;
    height: 668px;
}

/****TEST SLUT****/

/****KAMPAGNE 3****/

#kampagne3 {
    background-color: #28292c;
}

#kampagne3 h1 {
    color: white;
    text-align: center;
    margin-top: 1rem;
}

#kampagne3 h2 {
    color: white;
    text-align: left;
}

#kampagne3 p {
    color: white;
}

#kampagne3 .hashtag {
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}


/****KAMPAGNE 3 SLUT****/

/****KAMPAGNE 4****/

#kampagne4 {
    background-color: #eaeaea;
    line-height: 1.3;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 0.8rem;
    padding-right: 0.6rem;
}

#kampagne4 h1 {
    color: #383d45;
    text-align: center;
}

/****KAMPAGNE 4 SLUT****/

/****KAMPAGNE 5****/

#kampagne5 {
    background-color: #383d45;
}

#kampagne5 p {
    color: white;
    margin-top: 1rem;
}

#kampagne5 h2 {
    color: white;
    text-align: center;
}

/****KAMPAGNE 5 SLUT****/

/****KAMPAGNE 6****/

#kampagne6 {
    background-color: #28292c;
}

#kampagne6 h1,
p {
    color: white;
}

#kampagne6 h1 {
    margin-bottom: 1rem;
    font-size: 1.84rem;
}

#kampagne6 b {
    color: red;
}

/****KAMPAGNE 6 SLUT****/

/****KAMPAGNE 7****/

#kampagne7 {
    background-color: #eaeaea;
    line-height: 1.3;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#kampagne7 h1 {
    color: #383d45;
}

/****KAMPAGNE 7 SLUT****/

/****KAMPAGNE 8****/

#kampagne8 {
    background-color: #383d45;
}

#kampagne8 h2,
p {
    color: white;
}

#kampagne8 h2 {
    margin-bottom: 1rem;
}

/****KAMPAGNE 8 SLUT****/

/****FOOTER****/

footer {
    font-family: 'impact';
    font-size: ;
    background-color: #28292c;
    color: white;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    line-height: 1.5;
    100vw;

}

.ul_footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer_left {
    text-align: left;
    flex-basis: 200px;
    flex-grow: 1;
    margin: 10px 10px 10px 15px;
}

#footer_right {
    text-align: right;
    flex-basis: 200px;
    flex-grow: 1;
    margin: 10px 15px 10px 10px;
}

/****FOOTER SLUT****/

@media only screen and (min-width:500px) {
    .tekst {
        margin-left: 4rem;
        margin-right: 3.5rem;
        margin-top: 1rem;
    }

    .billede {
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 1.2rem;
    }

    #kampagne1 h2 {
        font-size: 1.7rem;
        margin-left: 0.5rem;
    }

    #kampagne2 .tekst1 {
        margin-left: -10rem;
    }

    #kampagne2 .tekst2 {
        margin-left: 10rem;
    }


    #kampagne6 h1 {
        font-size: 2.1rem;
    }

    #kampagne8 h1 {
        font-size: 2.1rem;
    }


}

@media only screen and (min-width:648px) {
    .billede {
        margin: 0;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .tekst {
        margin: 0;
        margin-left: 1rem;
        margin-bottom: 1rem;
        margin: 1rem;
    }
}

@media only screen and (min-width:900px) {
    #test .test {
        background-image: url(img/test_fuld.png);
        background-size: contain;
        margin: auto;
        width: 1441px;
        height: 662px;
    }

}
